html
{
    scroll-behavior: smooth;
}
body
{
    background-color: #492d95;
    font-family: "Titillium Web", sans-serif;
}
.navigation
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #6a49c6;
    z-index: 1;
}
.navigation h1 a
{
    color: #b3b1a4;
    margin-left: 15%;
    font-weight: 700;
    text-decoration: none;
}
.navigation nav
{
    float: right;
    margin-top: -3%;
    width: 43%;
}
.navigation nav a
{
    text-decoration: none;
    color: #b3b1a4;
    margin-right: 7.7%;
}
.navigation nav a:hover
{
    color: #54b6e7;
}
.navigation hr
{
    margin-bottom: 0;
    box-shadow: 0 0 3px 1px #b3b1a4;
}
.image
{
    width: 20%;
    margin-left: 15%;
    margin-top: 10%;
    border-radius: 5px;
}
#biography
{
    margin-top: 7%;
    float: right;
    padding-right: 13%;
    width: 45%;
}
#biography h2, #biography p
{
    color: #b3b1a4;
}
#biography h2
{
    font-size: 2.5em;
    font-weight: lighter;
}
#biography p
{
    margin-top: -2%;
    font-size: 1.3em;
}
#skills
{
    margin-left: 42%;
    margin-top: -12%;
    margin-bottom: 7%;
    float: right;
}
#skills h2
{
    font-size: 2.5em;
    font-weight: lighter;
}
#skills h2, #skills li
{
    color: #b3b1a4;
}
#skills ul
{
    column-count: 2;
    margin-top: -2%;
}
#skills li
{
    font-size: 1.2em;
    list-style-type: none;
    margin-left: -10%;
    margin-top: 1%;
}
#skills li img
{
    width: 4%;
    padding-right: 2%;
}
.skill img
{
    width: 15%;
    margin-right: 20%;
    position: relative;
}
.skill img:first-child
{
    margin-left: 25%;
}
.skill p
{
    display: inline-block;
    margin-right: 25.6%;
    color: #b3b1a4;
    font-size: 17px;
    font-weight: bold;
    margin-top: 0;
    position: relative;
}
.skill p span
{
    padding-right: 70px;
}
.skill p:nth-child(3)
{
    margin-left: 28%;
}
.skill p:nth-child(3) span
{
    padding-right: 75px;
}
#education
{
    margin-left: 15%;
    margin-top: 5%;
}
#education h2
{
    font-size: 2.5em;
    font-weight: lighter;
}
#education .group div
{
    font-size: 1.3em;
    list-style-type: none;
}
#education h2
{
    color: #b3b1a4;
}
.group div
{
    color: #b3b1a4;
    border-radius: 5px;
}
#education .group
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 32%;
    margin-top: -5%;
}
#education .group div
{
    width: 67%;
    background-color: #313138;
    padding: 1% 5% 3%;
    margin-bottom: 5%;
}
#education .group div:focus-visible
{
    background-color: lightgreen;
}
#education .group div h4 a
{
    text-decoration: none;
    color: #b3b1a4;
}
#education .group span
{
    font-size: 0.8em;
}
.grid div:first-child img
{
    width: 30%;
    padding-left: 35%;
    padding-top: 10%;
}
.grid div:first-child h2
{
    margin-left: 23%;
    margin-top: 10%;
    color: #313138;
}
.grid div:nth-child(2) img
{
    width: 22%;
    padding-left: 39%;
    padding-top: 10%;
}
.grid div:nth-child(2) h2
{
    margin-left: 7%;
    margin-top: 14%;
    color: #313138;
}
.grid div:nth-child(3) img
{
    width: 20%;
    padding-left: 40%;
    padding-top: 10%;
}
.grid div:nth-child(3) h2
{
    margin-left: 3%;
    margin-top: 10%;
    color: #313138;
}
.grid div:last-child img
{
    width: 27%;
    padding-left: 35%;
    padding-top: 10%;
}
.grid div:last-child h2
{
    margin-left: 33%;
    margin-top: 12%;
    color: #313138;
}
.grid p
{
    text-align: center;
    font-size: 1em;
    color: #313138;
}
.grid
{
    display: grid;
    grid-template-columns: 20% 20%;
    grid-template-rows: 53% 53%;
    margin-left: 15%;
    margin-top: 10%;
}
.grid div
{
    background-color: #ea9eeb;
    margin-bottom: 7%;
    margin-right: 7%;
}
.grid div:hover
{
    background-color: #cecec7;
    filter: invert(100%);
    transition: all 0.4s;
}
.ct
{
    background-color: #54b6e7;
    z-index: -1;
    width: 50%;
    height: 510px;
    float: right;
    margin-top: -35%;
    margin-right: 14%;
    padding-top: 5%;
}
.ct #fname, .ct #femail, .ct #texta textarea
{
    border-radius: 5px;
    margin-bottom: 2%;
    margin-left: 28%;
}
.ct #fname, .ct #femail
{
    height: 35px;
    width: 500px;
    background-color: #313138;
    color: #b3b1a4;
    font-family: "Titillium Web", sans-serif;
}
.ct #fname:focus, .ct #femail:focus
{
    outline: none;
    box-shadow: 0 0 7px 3px #ea9eeb;
}
.ct #texta textarea
{
    width: 500px;
    height: 130px;
    background-color: #313138;
    color: #b3b1a4;
    font-family: "Titillium Web", sans-serif;
}
.ct #texta textarea:focus
{
    outline: none;
    box-shadow: 0 0 7px 3px #ea9eeb;
}
.ct h1
{
    margin-left: 48%;
    margin-bottom: 5%;
    font-size: 40px;
}
.button
{
    width: 15%;
    background-color: #54b6e7;
    margin-top: 3%;
    margin-left: 55%;
    padding: 7px;
    border-radius: 5px;
    border: 3px solid #b3b1a4;
    cursor: pointer;
    color: #313138;
    font-weight: bold;
    font-size: 15px;
}
.button:hover
{
    color: white;
    background: #f6b93b;
    border-color: #f6b93b;
    transition: all 0.8s;
}
.end
{
    height: 19%;
    margin-top: 10%;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #6a49c6;
}
.end a
{
    text-decoration: none;
}
.end p
{
    color: #b3b1a4;
    text-align: center;
    padding-top: 3%;
    font-size: 20px;
}
.end hr
{
    margin-top: 0;
    box-shadow: 0 0 3px 1px #b3b1a4;
}
#second
{
    margin-bottom: 10%;
}
#third
{
    height: 100px;
    margin-bottom: -3%;
}
#education a:nth-child(2) i
{
    margin-left: 17%;
    margin-top: -1%;
}
#education a:nth-child(3) i
{
    margin-left: 17%;
    margin-top: 11%;
}
#education a:nth-child(4) i
{
    margin-left: 17%;
    margin-top: 23%;
}

@media (width: 1280px)
{
    .navigation nav
    {
        width: 48%;
    }
    .image
    {
        width: 23%;
        margin-top: 15%;
    }
    #biography
    {
        width: 50%;
        padding-right: 8%;
        margin-top: 12%;
    }
    #skills
    {
        margin-top: -14%;
        margin-bottom: 2%;
    }
    .skill p
    {
        margin-right: 25%;
    }
    .skill p span
    {
        padding-right: 55px;
    }
    .skill p:nth-child(3)
    {
        margin-left: 28%;
    }
    .skill p:nth-child(3) span
    {
        padding-right: 60px;
    }
    #second
    {
        margin-bottom: 11%;
    }
    #third
    {
        margin-bottom: -3%;
    }
    .ct
    {
        margin-top: -41%;
        width: 47%;
    }
    .grid
    {
        grid-template-columns: 23% 23%;
    }
    .ct #fname, .ct #femail
    {
        width: 375px;
    }
    .ct #texta textarea
    {
        width: 375px;
    }
    .ct #fname, .ct #femail, .ct #texta textarea
    {
        margin-left: 32%;
    }
    .ct h1
    {
        margin-left: 47%;
    }
    .button
    {
        margin-left: 57%;
    }
    #education a:nth-child(3) i
    {
        margin-top: 12%;
    }
    #education a:nth-child(4) i
    {
        margin-top: 26%;
    }
}
@media (min-width: 1366px) and (max-width: 1368px)
{
    .navigation nav
    {
        width: 46%;
    }
    #skills ul
    {
        margin-top: -3%;
    }
    #skills
    {
        margin-bottom: 5%;
    }
    .skill p
    {
        margin-right: 25.5%;
    }
    .skill p:nth-child(3)
    {
        margin-left: 27.5%;
    }
    .skill p span
    {
        padding-right: 60px;
    }
    .skill p:nth-child(3) span
    {
        padding-right: 70px;
    }
    .grid
    {
        grid-template-columns: 22% 22%;
    }
    #third
    {
        margin-bottom: -6%;
    }
    .ct h1
    {
        margin-left: 47%;
    }
    .ct
    {
        width: 48%;
        margin-top: -37%;
        height: 460px;
    }
    .ct #fname, .ct #femail
    {
        width: 430px;
    }
    .ct #texta textarea
    {
        width: 430px;
    }
    .ct #fname, .ct #femail, .ct #texta textarea
    {
        margin-left: 29.3%;
    }
    .button
    {
        margin-left: 56%;
    }
    #education a:nth-child(3) i
    {
        margin-top: 11%;
    }
    #education a:nth-child(4) i
    {
        margin-top: 24%;
    }
}
@media (min-width: 1440px) and (max-width: 1442px)
{
    .navigation nav
    {
        width: 45%;
    }
    .image
    {
        width: 20%;
        margin-top: 14%;
    }
    #skills
    {
        margin-top: -12.5%;
        margin-bottom: 7%;
    }
    #biography
    {
        margin-top: 11%;
    }
    .skill p span
    {
        padding-right: 60px;
    }
    .skill p:nth-child(3) span
    {
        padding-right: 70px;
    }
    #education
    {
        margin-top: 12%;
        margin-bottom: 4%;
    }
    .ct
    {
        width: 50%;
        margin-top: -37%;
    }
    .grid
    {
        grid-template-columns: 21% 21%;
    }
    .ct #fname, .ct #femail, .ct #texta textarea
    {
        margin-left: 33%;
    }
    .ct #fname, .ct #femail, .ct #texta textarea
    {
        width: 430px;
    }
    .ct h1
    {
        margin-left: 48%;
    }
}
@media (width: 1536px)
{
    .skill p
    {
        margin-right: 25.7%;
    }
    #education .group
    {
        margin-bottom: 3%;
    }
    #education a:nth-child(4) i
    {
        margin-top: 23%;
    }
}
@media (width: 1680px)
{
    .image
    {
        margin-top: 15%;
    }
    #biography
    {
        margin-top: 13%;
    }
    #education
    {
        margin-top: 15%;
    }
    #third
    {
        margin-bottom: 15%;
    }
    .ct
    {
        margin-top: -33%;
    }
    .end
    {
        margin-top: 15%;
    }
    .skill p
    {
        margin-right: 26%;
    }
    .skill p span
    {
        padding-right: 80px;
    }
    .skill p:nth-child(3) span
    {
        padding-right: 85px;
    }
    #education a:nth-child(3) i
    {
        margin-top: 10%;
    }
    #education a:nth-child(4) i
    {
        margin-top: 21%;
    }
}
@media (width: 1920px)
{
    .navigation nav
    {
        width: 37.5%;
        padding-top: 10px;
    }
    #biography
    {
        margin-top: 8%;
        width: 35%;
        padding-right: 23%;
    }
    #skills li
    {
        margin-left: -7%;
    }
    #skills li:nth-child(4), #skills li:nth-child(5), #skills li:last-child
    {
        margin-left: -25%;
    }
    .skill p span
    {
        padding-right: 98px;
    }
    .skill p:nth-child(3) span
    {
        padding-right: 108px;
    }
    .skill p
    {
        margin-right: 26.2%;
    }
    #education
    {
        margin-bottom: 8%;
        margin-top: 13%;
    }
    .ct
    {
        width: 54%;
        margin-top: -28%;
    }
    .grid
    {
        grid-template-columns: 16% 16%;
    }
    .ct #fname, .ct #femail, .ct #texta textarea
    {
        margin-left: 29%;
    }
    .ct #fname, .ct #femail, .ct #texta textarea
    {
        width: 600px;
    }
    .button
    {
        width: 25%;
        margin-left: 45%;
    }
    .ct h1
    {
        margin-left: 48%;
    }
    #education a:nth-child(2) i
    {
        margin-top: -2%;
    }
    #education a:nth-child(3) i
    {
        margin-top: 9%;
    }
    #education a:nth-child(4) i
    {
        margin-top: 20%;
    }
}
.to-top
{
    position: fixed;
    bottom: 16px;
    right:40px;
    width:60px;
    height:60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    background-color: #ffffff;
    color: #055f56;
    text-decoration: none;
    visibility: hidden;
    opacity:0;
    pointer-events: none;
    transition: all 0.7s;
}
.to-top:hover
{
    background-color: aquamarine;
    color: fuchsia;
}
.to-top.active
{
    bottom:32px;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
#education .fas
{
    font-size: 70px;
    display: block;
    margin-left: 20%;
    position: absolute;
    color: coral;
}
#education .fas:hover
{
    transform: rotateY(360deg);
    transition: all 1.5s;
    background: -webkit-linear-gradient(left top, #03fc98, #fcf403, fuchsia);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.end a
{
    color: blue;
    text-decoration: none;
}